@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,200;1,200&family=Prata&family=Roboto:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
   display:block 
}
*{
   font-family:Outfit
}
.prata-regular {
   font-family: "Prata", serif;
   font-weight: 400;
   font-style: normal;
 }
 